<h1>This is the Secret Page</h1>

<p>You found me</p>

<img src="http://brainprick.com/wp-content/uploads/2012/05/Tom-and-Jerry-Friends.jpg">

<li><a href="/register">Sign Up!!</a></li>
<li><a href="/login">Login!!</a></li>
<li><a href="/logout">LogOut!!</a></li>